


*
	padding 0px
	margin 0px

#container
	width 100%
	overflow hidden


header
	width 920px
	margin 0 auto


header li
	position relative
	display block
	float left

header ul
	margin 0px


.imagen
	height 240px
	margin 0px
	padding 0px

.tapa
	position absolute
	top 0px
	display block
	background-color rgba(0, 0, 0, 0.65)
	height 240px
	padding 10px
	color #fff
	font-size 12px
	text-align center

.ancha
	width 300px
	margin 0px
	padding 0px

.estrecha
	width 160px
	margin 0px
	padding 0px


/*footer
	width 100%
	text-align center
	background-color #3b3c4e
	color #fff
	height 100px
	line-height 80px
	position fixed
	bottom 0px*/
